#jamboheader {
  background-color: rgb(11, 11, 96) !important;
  padding-top: 90px !important;
  min-height: 200px !important;
 }
 
 
 #form-heading {
  padding-bottom: 40px;
 }
 
 .card {
    margin-right: 25px;
    padding: 20px;
     
    background-color: rgb(11, 11, 96) !important;  
    color: aliceblue;
 }


  #city-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .city-btn {
    height: 50px;
    width: 140px;
    background-color: rgb(11, 11, 96);
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
  }

  img {
    width: 30px;
    height: 30px;
  }

  #weather-icon {
    width: 100px;
    height: 100px;
  }

  #today {
    font-size: small;
    margin-bottom: 20px;
    border-bottom: 1px solid  black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  